.image{
    width: 100vw;
    background-image: url(./crossContamination.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.email{
    background:transparent;
    border: 1px solid white;
    padding: 1rem;
    font-size: 16px;
    color: white;
    margin: 1rem;
    width: 400px;
    border-radius: 5px;
}

.p{
color: white;
font-size: 1rem;
margin: 1.5rem;

}

.button{
padding: 16px 20px;
background-color: #00c853;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

.subscribeHeading
{
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap:0.5em;
    text-align: center;
    justify-content: space-between;
    align-items: center; 
    color: white;
}


@media only screen and (max-width:668px )
{
    .input{
        flex-wrap: wrap;
        gap:0.75rem;
    }
}

@media only screen and (max-width:468px )
{
    .email{
        width: 300px;
    }
}